{% extends 'class_based_view/layout.html' %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
<br><br>
<div class="container">
    <div class="card">
        <h5 class="card-header">List View</h5>
        <div class="card-body">
            <ul>
                {% for musician in musician_list %}
                    <li><a href="{% url 'crud_app:musician_details' pk=musician.id %}">{{musician.first_name}} {{musician.last_name}}</a></li> 
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}